* {
    padding: 0;
    margin: 0; 
}

body {
    line-height: 1.6;
    font-family: "Cairo", sans-serif;
    text-align: right;
    direction: rtl;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F6FE;
    width: 85%;
    padding: 3vb;
    margin: 2vh auto;
    border-radius: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-now {
    color: white;
    background-color: #E6F6FE;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.book-now:hover {
    color: #fff;
    transition: .3s;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul a:hover {
    color: #007BFF;
    transition: .3s;
}

.icon {
    display: none;
    font-size: 25px;
}

.Dr {
    font-size: 26px;
    font-style: italic;
    font-family: Lucida Calligraphy;
    letter-spacing: -0.09em;
    text-decoration-line: none;
}

@media (max-width: 440px) {
    .Dr {
        font-size: 20px;
        text-align: center;
    }

    .book-now {
        font-size: 14px;
        padding: 1vb 2vb;
    }
}  

@media (max-width: 972px) {
    nav {
        position: relative;
    }

    nav ul {
        display: none;
    }
    
    .icon {
        display: block;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 120px;
    }
}

.forMobile {
    background-color: #ffffffbe;
    display: flex;
    flex-direction: column;
    padding: 5vb 0;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    z-index: 100;
    width: 50vw;
    height: 100vh;
    transition: .5s;
    list-style-type: none;
    text-align: center;
}

.forMobile li {
    padding: 1vb;
}

.forMobile li a {
    text-decoration: none;
    color: #333;
}

.btn-primary {
    padding: 2vb 3vb;
}

/* small size */
@media (max-width: 768px) {
    .forScreen {
        display: none;
    }

    nav .icon {
        display: block;
    }
}

/* big size */
@media (min-width: 768px) {
    .forScreen {
        display: flex;
    }

    .forMobile {
        display: none;
        visibility: hidden;
    }
}

#search-bar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vh auto;
}


#search-bar i {
    margin-left: -30px;
}

#search-bar p {
    font-weight: 400;
    font-size: 18px;
    color: #27476085;
}

#search-bar input {
    width: 360px;
    text-align: left;
    background-color: transparent;
    padding: 1vb;
    border: 1px solid #307BC4 ;
    border-radius: 25px;
}

@media (max-width:767px) {
    #search-bar .container {
        flex-direction: column;
        align-items: center;
    }   

    #search-bar .search {
        width: 100%;
    }
    
    #search-bar input {
        width: 100%;
        margin: 1vh 0;
    }
}

#search-bar input::placeholder {
    color: #27476085;
}

#Dr-info {
    background-image: linear-gradient(119.31deg, #D2EAEF 17.16%, #86BBF1 89.78%);
    padding: 7vh 0;
    font-family: "Cairo" , sans-serif;
}

#Dr-info h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2vh;
}

#Dr-info h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5vh;
}

#Dr-info p {
    margin-right: -5vb;
}

.head .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.head .left {
    margin-bottom: -40vh;
}

@media (max-width:767px) {
    #Dr-info p {
        margin-right: 0;
    }

    .head .container {
        flex-direction: column;
        align-items: center;
    }
    
    .head .left {
        margin-bottom: 0;
    }
}

.head .left img {
    width: 420px;
    border-radius: 10px 10px 0 0;
}

@media (max-width:767px) {
    .head .left img {
        width: 300px;
        border-radius: 10px 10px 0 0;
    }  
}

.phone {
    width: 100%;
    display: flex;
    justify-content:space-between; 
    gap: 5vb;
}

.head .left .bar {
    background-color: #307BC4;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 2vb 3vb;
    border-radius: 0 0 10px 10px;
}

#education .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Cairo" , sans-serif;
    width: 100%;
    padding: 7vh 0;
}

#education .container .left  {
    margin-top: 25vh;
}

@media (max-width:767px) {
    #education .container {
        /* width: 85%; */
        flex-direction: column;
        align-items: center;
        text-align: right;
    }

    #education .container .left  {
        width: 100%;
        margin-top: 0;
    }
}

#education .head {
    display: flex;
    align-items: center;
    gap: 2vb;
    padding: 4vh 0;
}

#education .head h3 {
    font-size: 20px;
}

#education .container ul {
    padding: 0;
}


#education .container li {
    list-style-image: url("materials/Rounded\ rectangle.png");
    font-size: 16px;
    font-weight: 500;
    color: #274760;
    padding-bottom: 3vh;
} 

#education .container .phone li {
    list-style-image: url("materials/Frame\ \(5\).png");
}

#education .container .h-star + ul li {
    padding: 2vh 0;
}

#education .container small {
    font-family: "Cairo";
    font-size: 16px;
    color: #27476085;
}

#education .container li {
    padding-bottom: 3vh;
}

#education .container .table {
    display: flex;
    margin: 0 auto;
    padding: 3vb;
    border-radius: 10px;
    box-shadow: 0px 4px 21px 4px #307BC41A;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vb;
    text-align: center;
}

#education .container .table p {
    font-size: 16px;
    font-weight: 500;
    color: #274760;
    margin-bottom: 2vh;
}

#education .container .table .col2 p {
    font-weight: 700;
}

#education .table img {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

#prizes .head {
    font-family: "Cairo";
    text-align: center;
    margin-bottom: 5vb;
}

#prizes .head h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 4vh;
}

#prizes .head h6 {
    color:#307BC4;
}

#prizes .wins {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vb;
    margin-bottom: 10vh;
}

@media (max-width:767px) {
    #prizes .wins {
        grid-template-columns: repeat(1, 1fr);
        gap: 3vh;
    }
}

#prizes .wins .win {
    display: flex;
    align-items: center;
    padding: 3vb;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #A2CDF099;
    gap: 2vb;
    transition-duration: .3s;
}

#prizes .wins .win:hover {
    transform: scale(1.05);
}

#prizes .wins .win p {
    font-family: "Cairo" , sans-serif;
    font-size: 19px;
    font-weight: 400;
}

#Quote .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vb;
    padding: 5vb auto;
    font-family: "Cairo";
    margin-bottom: 8vh;
}

#Quote .container img {
    width: 400px;
}

#Quote .container h1 {
    font-size: 80px;
    font-weight: 700;
    color: #274760;
}

@media (max-width:767px) {
    #Quote .container {
        flex-direction: column;
        gap: 3vb;
    }

    #Quote .container img {
        width: 250px;
    }
    
    #Quote .container h1 {
        font-size: 60px;
        font-weight: 700;
        color: #274760;
    }
}

#Quote .container .content p {
    font-size: 30px;
    color: #27476085;
    text-align: right;
}












































































footer {
    background-color: #343a40; 
    color: white;
    padding: 40px 0;
}  

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    direction: rtl;
}

@media (max-width: 972px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 2vb;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}    

footer h3 {
    font-size: 20px;
    padding: 3vh 0;
    font-weight: 700;
}

@media (min-width: 973px) {
    .Dr-section {
        max-width: 22%;
    }
}

footer li {
    list-style-type: none;
    padding: 1vh 0;
    font-size: 14px;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}    

footer a:hover {
    text-decoration: underline;
}