* {
    padding: 0;
    margin: 0; 
}

body {
    line-height: 1.6;
    font-family: "Cairo", sans-serif;
    text-align: right;
    direction: rtl;
    background-image: linear-gradient(180deg, #E6F6FE -34.56%, rgba(230, 246, 254, 0) 88.57%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    width: 85%;
    padding: 3vb;
    margin: 2vh auto;
    border-radius: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-now {
    color: white;
    background-color: #E6F6FE;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.book-now:hover {
    color: #fff;
    transition: .3s;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul a:hover {
    color: #007BFF;
    transition: .3s;
}

.icon {
    display: none;
    font-size: 25px;
}

.Dr {
    font-size: 26px;
    font-style: italic;
    font-family: Lucida Calligraphy;
    letter-spacing: -0.09em;
    text-decoration-line: none;
}

@media (max-width: 440px) {
    .Dr {
        font-size: 20px;
        text-align: center;
    }

    .book-now {
        font-size: 14px;
        padding: 1vb 2vb;
    }
}  

@media (max-width: 972px) {
    nav {
        position: relative;
    }

    nav ul {
        display: none;
    }
    
    .icon {
        display: block;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 120px;
    }
}

.forMobile {
    background-color: #ffffffbe;
    display: flex;
    flex-direction: column;
    padding: 5vb 0;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    z-index: 100;
    width: 50vw;
    height: 100vh;
    transition: .5s;
    list-style-type: none;
    text-align: center
}

.forMobile li {
    padding: 1vb;
}

.forMobile li a {
    text-decoration: none;
    color: #333;
}

.btn-primary {
    padding: 2vb 3vb;
}

/* small size */
@media (max-width: 768px) {
    .forScreen {
        display: none;
    }

    nav .icon {
        display: block;
    }
}

/* big size */
@media (min-width: 768px) {
    .forScreen {
        display: flex;
    }

    .forMobile {
        display: none;
        visibility: hidden;
    }
}

.container .head {
    position: relative;
    text-align: center;
    margin-bottom: 8vh;
}

/* .container .head::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 400px;
    text-align: center;
    height: 3px;
    background-color: #25B4F8;
    margin-bottom: 20px
} */

.container h1 {
    font-family: "Cairo" , sans-serif;
    font-size: 54px;
    font-weight: 600;
    color: #011632; 
    margin-top: 5vb;
}

.container h2 {
    font-family: "Tajawal";
    font-size: 18px;
    margin-bottom: 4vb;
}

.full-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 3vb;
}

@media (max-width: 991px) {
    .full-info {
        flex-direction: column;
    }
}

.full-info .left-part {
    display: flex;
    flex-direction: column;
    gap: 3vb;
    font-family: "Cairo", sans-serif;
}

.full-info .left-part iframe {
    width: 100%;
    border: 2px solid #25B4F8;
    border-radius: 10px;
}

.full-info .left-part .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-size: 18px;
    box-shadow: 0px 5px 50px 0px #00000008;
    transform: translateY(-170%);
}

.full-info .left-part .card.inner {
    width: 94%;
    height: auto;
    align-self: center;
    opacity: .9;
}

.full-info .left-part .card img {
    height: 100px;
}

.full-info .left-part h3 {
    font-weight: 500;
    font-size: 18px;
}

.full-info .left-part p {
    font-size: 16px;
    color: #3C4959;
}

.full-info .right-part {
    display: flex;
    flex-direction: column;
    padding: 5vb;
    border: 2px solid #25B4F8;
    border-radius: 10px;
    gap: 10px;
    height: fit-content;
}

.full-info .right-part .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vb;
}

@media (max-width: 490px) {
    .full-info .right-part .grid {
        grid-template-columns: 1fr;
    }
}

.full-info .right-part input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1vb;
}

.full-info .right-part .name {
    display: flex;
    flex-direction: row;
    gap: 2vb;
    align-items: center;
}

.full-info .right-part textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 1vb;
}

.FAQ {
    font-family: "Cairo" , sans-serif;
    text-align: center;
    margin-top: -15vh;
    max-width: 60%;
}

@media (max-width: 490px) {
    .FAQ {
        max-width: 100%;
    }
}

.FAQ h1 {
    font-size: 42px;
}

.FAQ p:first-of-type {
    font-size: 18px;
    margin-bottom: 5vh;
    margin: 5vh auto;
    max-width: 500px;
}

.FAQ ul {
    list-style-type: square;
    padding-left: 0;
}

.FAQ .faq-item {
    margin: 15px auto;
    transition: .5s linear;
}

.FAQ ul .question {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    padding: 3vb;
    border-bottom: 1px solid #CFCFCF;
    gap: 20px;
}

.answer {
    display: none;
    text-align: right;
    padding: 2vb;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 490px) {
    .faq-item:has(.question.open) {
        max-width: 100%;
    }
}

.faq-item:has(.question.open) {
    background-color: #1376F8;
    color: #fff;
    padding: 2vb;
    border-color: #fff;
    border-radius: 10px;
    width: 600px;
}

.question.open + .answer {
    display: block;
}

.question .Q-icon {
    cursor: pointer;
}

footer {
    background-color: #343a40; 
    color: white;
    padding: 40px 0;
}  

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    direction: rtl;
}

@media (max-width: 972px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 2vb;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}    

footer h3 {
    font-size: 20px;
    padding: 3vh 0;
    font-weight: 700;
}

@media (min-width: 973px) {
    .Dr-section {
        max-width: 22%;
    }
}

footer li {
    list-style-type: none;
    padding: 1vh 0;
    font-size: 14px;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}    

footer a:hover {
    text-decoration: underline;
}