* {
    padding: 0;
    margin: 0; 
}

body {
    line-height: 1.6;
    font-family: "Cairo", sans-serif;
    text-align: right;
  
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vb;
    /* margin: auto; */
    background-color: #E6F6FE;
}

.content {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: Tajawal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.8px;
    letter-spacing: 0.015em;
    text-align: left;
}

nav ul li a.bold {
    font-weight: 700;
}

nav ul a:hover {
    color: #007BFF;
    transition: .3s;
}

.Dr {
    font-size: 26px;
    font-style: italic;
    font-family: Lucida Calligraphy;
    letter-spacing: -0.09em;
    text-decoration-line: none;
}

nav .icon {
    display: none;
}

.btn-primary {
    padding: 2vb 3vb;
}

@media (max-width: 440px) {
    .Dr {
        font-size: 20px;
        text-align: center;
    }

    .btn-primary {
        font-size: 14px;
        padding: 1vb 2vb;
    }
}  

.forMobile {
    background-color: #ffffffbe;
    display: flex;
    flex-direction: column;
    padding: 5vb 0;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    z-index: 100;
    width: 50vw;
    height: 100vh;
    transition: .5s;
}

/* small size */
@media (max-width: 768px) {
    .forScreen {
        display: none;
    }

    nav .icon {
        display: block;
    }
}

/* big size */
@media (min-width: 768px) {
    .forScreen {
        display: flex;
    }

    .forMobile {
        display: none;
        visibility: hidden;
    }
}


.forMobile li {
    padding: 1vb;
}

svg {
    margin-bottom: 21px;
}

#services {
    background-image: linear-gradient( #E6F6FE, #fff);
}

.section-title {
    font-family: "Cairo" , sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 3vh;
    position: relative;
    /* text-decoration: underline; */
}

.section-title::after {
    content: '';
    display: block;
    background-color: #222;
    position: absolute;
    height: 2px;
    width: 212px;
    bottom: -5px;
    left: 0px;
}

#services p {
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.service-cards {
    display: grid;
    gap: 5vb;
    grid-template-columns: repeat(3, 1fr);
    margin: 3vb;
}

@media (min-width: 481px) and (max-width: 767px) {
    .service-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .service-cards {
        grid-template-columns: 1fr;
    }
}

.service-card {
    font-family: "Cairo" , sans-serif;
    background-color: #fff;
    text-align: center;
    padding: 2vh;
    border-radius: 10px;
    direction: rtl;
}

.service-card img {
    width: 50px;
    height: 50px;
    background-color: #25B4F8;
    border-radius: 50%;
}

.service-card h3 {
    font-size: 17.44px;
    font-weight: 700;
    line-height: 27.03px;
    letter-spacing: 0.015em;
    text-align: center;
}

.service-card a {
    font-weight: 700;
    color: #111;
}

.service-card .fa-circle-chevron-down { 
    color: #fff;
    background-color: #111;
    border: 2px solid #111;
    border-radius: 50%;
    transform: rotate(90deg);
}

.service-card a:hover {
    color: #007BFF;
    transform: scale(1.1);
    transition: .3s;
}

a:hover + .fa-circle-chevron-down {
    background-color: #00aaff;
    transform: translate(-10px , 0) rotate(90deg) scale(1.1);
    transition: .3s;
}

#booking1 {
    background-color: #011632;
    color: #fff;
    padding: 20px 0;
    margin-top: 5vb;
}

#booking1 .container {
    padding: 5vb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 767px) {
    #booking1 .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 5vb;
    }
}

#booking1 .booking-info {
    max-width: 450px;
}

#booking1 .booking-form {
    color: #111;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 290px;
    padding: 15px;
}

#booking1 .booking-form form {
    width: 100%;
}

#booking1 .booking-form h3 {
    padding: 25px;
    font-size: 25px;
    text-align: center;
}

#booking1 .booking-form input {
    text-align: right;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    font-size: 14px;
}

#booking1 .booking-form input[type="submit"] {
    padding: 15px;
}

#booking1 .booking-info a i {
    margin-right: 5px;
    color:#1376F8;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transform: rotate(90deg);
}

#video {
    padding: 10vb 0;
    text-align: center;
}

#video-info {
    width: 500px;
}

#video video {
    width: 100%;
    height: auto;
}

#video button {
    padding: 10px 20px;
    margin-top: 20px;
}

#booking2 .container {
    background-color: #E6F6FE;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: 40px;
}

@media (max-width: 992px) {
    #booking2 .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 5vb;
    }

    #booking2 .container img {
        width: 100%;
    }    

    #video-info {
        width: auto;
    }        
}

#booking2 .container .booking2-info {
    max-width: 420px;
}

#booking2 .container h2 {
    font-family: Cairo;
    font-size: 34px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: right;
}

#booking2 .container li {
    list-style-type: none;
    padding: 5px;
}

#booking2 .container li i {
    color: #1376F8;
    margin-left: 10px;
    padding: 10px 0;
}

#booking2 .container img {
    max-width: 400px;
    border-radius: 10px;
}

#our-values {
    padding: 12vb 0;
}

#our-values h2 {
    font-family: Cairo;
    font-size: 34px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
    margin-bottom: 10vb;
}

#our-values .part {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 767px) {
    #our-values .part {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5vb;
    }
}

#our-values .value-card {
    padding: 2vb;
    margin: 35px;
    background-color: #ffffff;
    max-width: 350px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 4px 21px 1px rgba(48, 122, 196, 0.171);
}

#our-values #tmez {
    margin-top: -5px;
    margin-bottom: 65px;
    max-width: 250px;
}

#our-values .value-card h3 {
    padding: 20px;
}

#our-values .value-card p {
    color: #27476085;
}

footer {
    background-color: #343a40; 
    color: white;
    padding: 40px 0;
}  

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    direction: rtl;
}

@media (max-width: 972px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 2vb;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}    

footer h3 {
    font-size: 20px;
    padding: 3vh 0;
    font-weight: 700;
}

@media (min-width: 973px) {
    .Dr-section {
        max-width: 22%;
    }
}

footer li {
    list-style-type: none;
    padding: 1vh 0;
    font-size: 14px;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}    

footer a:hover {
    text-decoration: underline;
}
